resources:
- type: compute.v1.subnetwork
  name: {{ properties["subnet"] }}
  properties:
    ipCidrRange: {{ properties["ipCidrRange"] }}
    network: global/networks/{{ properties["network"] }}
    privateIpGoogleAccess: true
    region: {{ properties["region"] }}
    enableFlowLogs: false
