{% set BUCKETNAME = "bucket-" + env["deployment"]  %}

resources:
- type: storage.v1.bucket
  name: {{ BUCKETNAME }}
  properties:
    predefinedAcl: projectPrivate
    projection: full
    location: US
    storageClass: STANDARD
    logging:
      logBucket: {{ BUCKETNAME }}
      logObjectPrefix: log-prefix
    versioning:
      enabled: false
    acl:
    - bucket: {{ BUCKETNAME }}
      domain: www.google.com
      email: logging
      role: OWNER
