resources:
- name: test-cluster
  type: container.v1.cluster
  properties:
    zone: {{ properties['zone'] }}
    cluster:
      name: test-cluster
      initialNodeCount: 1
    
    locations: ["Changhua County, Taiwan, APAC", "Mumbai, India APAC", "Hamina, Finland, Europe"]

    currentNodeCount: 2

    nodeConfig:
      metadata:
        disable-legacy-endpoints: true
      imageType: COS
    
    podSecurityPolicyConfig:
      enabled: false
    
    privateClusterConfig:
      enablePrivateNodes: false
      enablePrivateEndpoint: false
    
    resourceUsageExportConfig:
      enableNetworkEgressMetering: false
      consumptionMeteringConfig:
        enabled: true
    
    enableKubernetesAlpha: true
    
    networkConfig:
      enableIntraNodeVisibility: false
    
    network: default
    
    addonsConfig:
      istioConfig:
        disabled: false
      kubernetesDashboard:
        disabled: false
      httpLoadBalancing:
        disabled: true
    
    legacyAbac:
      enabled: true
    
    masterAuthorizedNetworksConfig:
      enabled: false
      cidrBlocks:
      - displayName: public
        cidrBlock: 10.0.0.0/16
    
    networkPolicy:
      provider: CALICO
      enabled: false
    
    loggingService: none
    
    monitoringService: none
    
    binaryAuthorization:
      enabled: false
    
    masterAuth:
      clientKey: acXTX3rxrKAFTF0tYVLvydU1riRZTvUNC4g5I11NY+c=
      clientCertificate: -----BEGIN CERTIFICATE-----MIIDBjCCAe6....IM1g==-----END CERTIFICATE-----
    
    resourceLabels:
      - goog-composer-version: composer-1
    
    workloadIdentityConfig:
      workloadPool: 

    nodePool:
      name: {{ test-cluster }}-test1
      initialNodeCount: 1
      autoscaling:
        enabled: true
        minNodeCount: 1
        maxNodeCount: 3
      management:
        autoUpgrade: true
        autoRepair: true
      config:
        machineType: custom-2-4096
        diskSizeGb: 20
        preemptible: false
        imageType: COS
        oauthScopes:
        - https://www.googleapis.com/auth/compute
        - https://www.googleapis.com/auth/devstorage.read_only
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring
        - https://www.googleapis.com/auth/cloud_debugger
        localSsdCount: 0
        serviceAccount: svc-{{ test-cluster }}@{{ env['project'] }}.iam.gserviceaccount.com

    ipAllocationPolicy:
      useIpAliases: false

    nodePools:
      - name: {{ test-cluster }}-test2
        config:
          machineType: g1-small
          diskSizeGb: 10
          oauthScopes:
          - https://www.googleapis.com/auth/devstorage.read_only
          imageType: COS
          serviceAccount: default
          shieldedInstanceConfig:
            enableSecureBoot: false
            enableIntegrityMonitoring: false
        initialNodeCount: 1
        autoscaling:
          enabled: true
          minNodeCount: 1
          maxNodeCount: 2
        management:
          autoUpgrade: true
          autoRepair: true
        workloadMetadataConfig:
          mode: gke_metadata
        node_pool:
          management:
            autoRepair: false
            autoUpgrade: false
      
    shieldedNodes:
      enabled: true