resources:
- name: {{ env["project"] }}-ProjectIam
  type: iam.v1.serviceAccount 
  properties:
    accountId: {{ env["project"] }}
    displayName: prancer-project-iam-test

- name: Prancer-test
  action: gcp-types/iam-v1:iam.projects.serviceAccounts.getIamPolicy
  properties:
    resource: projects/{{ env["project"] }}/serviceAccounts/{{ properties['serviceAccount'] }}
    policy:
      bindings:
      - role: 'roles/viewer'
        members:
        - serviceAccount:{{ properties['serviceAccount'] }}
      auditConfigs:
      - auditLogConfigs:
        - logType: ADMIN_READ
        service: cloudkms.googleapis.com
      version: 3