resources:
- name: Prancer-test
  type: gcp-types/iam-v1:iam.projects.serviceAccounts.getIamPolicy
  properties:
    resource: projects/{{ env["project"] }}/serviceAccounts/{{ properties['serviceAccount'] }}
    policy:
      bindings:
      - role: "roles/resourcemanager.projectIamAdmin"
        members:
        - serviceAccount:{{ properties['serviceAccount'] }}
      auditConfigs:
      - auditLogConfigs:
        - logType: ADMIN_READ
        service: cloudkms.googleapis.com
      version: 3