{% set URLMAP = "url-map-" + env["deployment"] %}

resources:
- type: compute.v1.targethttpsproxy
  name: targethttpsproxy
  properties:
    urlMap: $(ref.{{ URLMAP }}.selfLink)
    quicOverride: ENABLE
